# Build outputs
bin/
obj/

# Visual Studio
.vs/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/

# NuGet Packages
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

# Visual Studio cache files
*.[Pp]ublish.xml
*.pubxml
*.publishproj

# Rider
.idea/

# VS Code
.vscode/
